@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: montserrat;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.barra-superior {
  width: 100%;
  max-width: 1400px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.contenedor-logo {
  width: 25px;
}

.contenedor-logo img {
  width: 100%;
}

.logo h2 {
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
}

.logo .button-carrito {
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
  width: 170px;
  height: 27px;
  padding-left: 25px;
}

.fas.fa-shopping-cart {
  position: relative;
  left: 35px;
}

.imagen-cabecera {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://frontend-proyecto-tienda.adaitw.org/images/banner.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}

.imagen-cabecera h1 {
  color: white;
}

/* MAIN */

main {
  
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: auto;
}

aside {
  flex: 1;
}

aside .contenedor-aside {
  padding: 10px;
}

aside h2 {
  font-size: 18px;
  font-weight: 600;
  color: #2e2e31;
  padding: 14px 0;
}

aside h3 {
  font-size: 14px;
  font-weight: 600;
  color: #2e2e31;
  padding: 14px 0;
}

/* BOTON */

.button {
  border: 0;
  height: 15px;
  background-color: transparent;
  cursor: pointer;
  padding-right: 20px;
}

/* BOTON  */

.tacho {
  display: flex;
  align-items: center;
}

aside .contenedor-aside .cabecera-aside {
  display: flex;
  justify-content: space-between;
}

/* .columna-aside {
  
} */

.input-columna {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.input-style {
  border: none;
  border-bottom: 2px solid #2e2e31;
  background-color: transparent;
  padding: 10px;
}

#filtro-busqueda {
  width: 200px;
}

.fas.fa-search {
  position: relative;
  right: -170px;
  top: -30px;
}

.fa-star {
  color: #fbc02d;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  flex: 6;
}

/* CABECERA DE TARJETAS  */

.cabecera-tarjetas {
  font-size: 14px;
  background-color: white;
  height: 100px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.cantidad-productos {
  flex: 1;
}

.organizador-productos {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.organizador-productos button {
  border-bottom: none;
}

.organizador-productos i {
  cursor: pointer;
}

.fas.fa-filter {
  padding: 0 5px;
}

/* TARJETAS DE PRODUCTOS */

.tarjetas-productos {
  display: flex;
  flex-wrap: wrap;
}

.producto {
  padding: 30px;
  margin: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}

.producto:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

/* CLASES PARA JS */

.tarjetas-productos-column {
  display: flex;
  flex-direction: column;
}

.foto-izq {
  display: flex;
  flex-direction: row;
}

.producto .contenedor-img {
  width: 250px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
}

.producto .contenedor-img img {
  width: 100%;
  height: auto;
  transition: 0.25s ease-in;
}

.contenedor-img img:hover {
  transform: scale(1.5);
  opacity: 0.5;
}

.especificaciones {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CLASES PARA JS descripcion izq */

.producto-horizontal {
  align-items: flex-start;
}

.especificaciones h3 {
  font-weight: 600;
}

.especificaciones h3, .especificaciones p, .especificaciones .calificacion {
  padding: 10px;
}


.button-comprar {
  width: 260px;
  margin: 20px 0;
  padding: 20px 0;
  border: 0;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.button-comprar:hover {
  background-color: #e2dede;
}

/* MODAL CARRITO */
/* MODAL CARRITO */

.menu {
  background-color: white;
  max-width: 400px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  transition: 1s;
  transform: translate(400px);
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.container-carrito {
  height: 95vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.encabezado-carrito h2 {
  font-size: 24px;
  font-weight: 600;
}

.nombre-icono h3 {
  font-size: 18px;
  font-weight: 600;
}

.encabezado-carrito {
  margin-bottom: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cuerpo-carrito {
  margin: 10px 0;
  overflow: scroll;
  flex-grow: 1;
}

.cerrar-carrito {
  width: 25px;
  height: 25px;
  background: none;
  border: none;
}

.contenedor-img-carrito {
  width: 110px;
  height: auto;
}

.contenedor-img-carrito img {
  width: 100%;
  height: auto;
}

input[type="number"] {
  width: 50px;
  height: 30px;
  text-align: center;
}

.contenedor-producto-carrito {
  display: flex;
}

.datos-producto-carrito {
  flex: 1;
}

.nombre-icono {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombre-icono .fas.fa-trash-alt {
  color: red;
}

.cantidad-precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comprar {
  height: 50px;
  margin-top: 20px;
  color: white;
  border: 1px solid #4caf50;
  background-color: #4caf50;
  border-radius: 5px;
}

.vaciar {
  height: 50px;
  margin-top: 20px;
  background-color: white;
  color: #d32f2f;
  border: 1px solid #d32f2f;
  border-radius: 5px;
  transition: 0.5s;
}

.vaciar:hover {
  color: white;
  background-color: #d32f2f;
}

/* MODAL DE CHECKOUT */

/* MODAL DE CHECKOUT */

.modal-checkout {
  background-color: white;
  max-width: 800px;
  max-height: 800px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin-left: -400px;
  margin-top: -400px;
}

/* 
.header-checkout {
  border: 1px solid rgb(19, 165, 243);
} */

.header-checkout h2 {
  font-size: 24px;
  font-weight: 600;
}

.main-checkout {
  display: flex;
}

.datos-checkout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.datos-personales {
  padding: 20px 0;
  flex-grow: 1;
}

.datos-personales h3 {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

.datos-personales h2 {
  font-size: 14px;
  font-weight: 400;
  padding: 20px 0;
}

.datos-personales label input[type="email"], input[type="text"] {
  width: 300px;
  margin-right: 30px;
}

hr {
  margin: 35px 10px;
}

.opciones-pago {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.opciones-pago h3 {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

.opciones-pago label {
  padding: 1px 0;
}

.opciones-pago label input {
  padding: 1px 0;
}

.resumen {
  padding: 15px;
  background-color: #eee;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descuento-color {
  color: green;
}

.recargo-color {
  color: red;
}

.header-resumen h3 {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

.footer-checkout {
  padding: 80px 10px 30px;
  display: flex;
  justify-content: flex-end;
}

.seguir-comprando {
  height: 50px;
  min-width: 200px;
  margin: 0 10px;
  border: none;
  background-color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.finalizar-compra {
  min-width: 200px;
  height: 50px;
  margin: 0 10pxpx;
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  border-radius: 5px;
  transition: 0.5s;
}

.seguir-comprando:hover {
  background-color: #e0e0e0;
}

.finalizar-compra:hover {
  background-color: #388e3c;
}

/* MODAL CONFIRMACION VACIADO  */

/* MODAL CONFIRMACION VACIADO  */

.confirmar-vaciado {
  max-width: 500px;
  width: 100%;
  background-color: white;
  padding: 40px 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 4;
  margin-left: -250px;
  margin-top: -150px;
}

.confirmar-vaciado p {
  font-size: 30px;
  font-weight: 700;
  color: #2e2e31;
  text-align: center;
  padding: 30px 0;
  margin: auto;
  z-index: 3;
}

.botones-vaciado {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.confirmar-cancelar {
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 190px;
  margin: 10px 0;
  max-width: 200px;
  background-color: #fafafa;
  cursor: pointer;
}

.confirmar-cancelar:hover {
  background-color: #e0e0e0;
}

.confirmar-vaciar {
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 190px;
  max-width: 200px;
  margin: 10px 0;
  background-color: #d32f2f;
  color: white;
  cursor: pointer;
}

.confirmar-vaciar:hover {
  background-color: #c62828;
}

footer {
  background-color: #ffffff;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

footer .logo h2 {
  font-size: 14px;
}

/* MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY */

@media (max-width: 850px) {
  label .aparecer {
    display: block;
  }
  .desaparecer {
    display: none;
  }
  .contenedor-aside {
    background-color: white;
    width: 270px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transition: 1s;
    transform: translate(270px);
  }
  aside {
    flex: 0;
    z-index: 2;
    width: 100%;
  }
  .fas.fa-search {
    position: relative;
    right: -170px;
    top: -25px;
  }
  .producto {
    padding: 10px;
  }
  .contenedor-aside .cabecera-aside-mobile {
    display: flex;
    justify-content: flex-end;
  }
  .main-checkout {
    display: flex;
    flex-direction: column;
  }
  .confirmar-vaciado .botones-vaciado {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-checkout {
    max-height: none;
    max-width: none;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    overflow: scroll;
    margin-left: 0;
    margin-top: 0;
  }
  .footer-checkout {
    flex-direction: column;
  }
  .confirmar-vaciado {
    max-width: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 4;
    margin-left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* PARA SACAR SCROLL DE OVERLEYS */

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.mostrar-menu {
  transform: translate(0);
}