@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat;

}

body {
    background-color: #e2dede; 
}

nav {
    border: 4px solid red;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.logo {
    border: 4px solid violet;  
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.logo-size {
    width: 25px;
}

.logo-size > img {
    width: 100%;
}


.logo .button-carrito {
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
    width: 170px;
    height: 27px;
    padding-left: 25px;
}

.fas.fa-shopping-cart {
    position: relative;
    left: 35px;
}


.contenedor-banner {
    border: 4px solid rgb(12, 180, 107);
    width: 100%;
    height: 300px;
    position: relative;
}

.contenedor-banner img {
    width: 100%;
    height: 100%;
}

.banner-titulo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -119.57px ;
    margin-top: -19.5px ;
}


/* .imagen-cabecera {
    border: 4px solid green;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://frontend-proyecto-tienda.adaitw.org/images/banner.jpg);
    background-position: center;
    background-size: cover;
}

.imagen-cabecera h1 {
    border: 4px solid orangered;
    color: white;
    
} */

main {
    border: 4px solid gray;
    display: flex;
}




aside {
    border: 4px solid rgb(211, 87, 16);
    width: 20%;
    min-width: 300px;
    
}

aside .contenedor-aside {
    border: 4px solid rgb(31, 10, 148);
    margin: 20px;
}
aside h2 {
    font-size: 14px;
    font-weight: 600;
    color: #2e2e31;
    padding: 14px 0;
}

/* BOTON */

.button {
    border: 0;
    height: 15px;
    background-color: transparent;
    cursor: pointer;
}

/* BOTON  */

.tacho {
    display: flex;
    align-items: center;
}



aside .contenedor-aside .cabecera-aside {
    border: 4px solid rgb(15, 155, 78);
    display: flex;
    justify-content: space-between;
}

.columna-aside {
    border: 4px solid rgb(231, 18, 54);
}

.input-columna {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.input-style {
    border: none;
    border-bottom: 2px solid #2e2e31;
    background-color: transparent;
    padding: 5px;
}

.fas.fa-search {
    position: relative;
    right: 25px;
}

.fa-star {
    color: #fbc02d;
}




/* MAIN */

main {
    padding: 50px 0;
}




.tarjetas {
    border: 4px solid rgb(15, 187, 70);
    width: 80%;
    display: flex;
    flex-direction: column;
}


/* CABECERA DE TARJETAS  */

.cabecera-tarjetas {
    border: 4px solid crimson;
    font-size: 14px;
    background-color: white;
    height: 100px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cantidad-productos {
    border: 4px solid rgb(17, 76, 159);
}

.organizador-productos {
    border: 4px solid rgb(226, 164, 30);
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

.organizador-productos i {
    cursor: pointer;
}


/* TARJETAS DE PRODUCTOS */


.tarjetas-productos {
    border: 4px solid blueviolet;
    display: flex;
    flex-wrap: wrap;
    
}


/* CLASES PARA JS */

.tarjetas-productos-column {
    flex-direction: column;
}
/* CLASES PARA JS */

.producto {
    border: 4px solid rgb(10, 7, 14);
    padding: 40px;
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}


/* CLASES PARA JS */

.producto-horizontal {
    align-items: flex-start;
}
/* CLASES PARA JS */


.especificaciones {
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.producto .img-size {
    border: 4px solid rgb(59, 13, 120);
    width: 250px;
    
}

.producto .img-size img {
    width: 100%;
    height: auto;
    
}
.especificaciones h3{
    font-weight: 600;
}

.especificaciones h3, 
.especificaciones p, 
.especificaciones .calificacion {
    padding: 10px;
}


/* ACA ESTA REPETIDO EL CSS DEL BUTTON  */
.button-comprar {
    margin: 20px 0;
    padding: 20px 0;
    border: 0;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.button-comprar:hover {
    background-color: #e2dede;
}

/* MODAL CARRITO */
/* MODAL CARRITO */

.menu {
    border: 4px solid rgb(226, 164, 30);
    background-color: white;
    width: 400px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.ocultar {
    display: none;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    top: 0;
}

.container-carrito {
    border: 3px solid violet;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.encabezado-carrito {
    border: 3px solid green;
    display: flex;
    justify-content: space-between;
}





/* MODAL DE PAGO */
/* MODAL DE PAGO */

.modal-compra {
    border: 3px solid orange;
    background-color: white;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px ;
    margin-top: -400px;
}

.header-compra {
    border: 3px solid rgb(19, 165, 243);
}

.main-compra {
    border: 3px solid #7460ce;
    display: flex;
}

.datos-compra {
    border: 3px solid #9a9d08;
    display: flex;
    flex-direction: column;
}

.montos {
    border: 3px solid #329785;
    background-color: #cacaca;
}

.footer-compra {
    border: 3px solid rgb(255, 0, 89);
    display: flex;
    
}

/* MODAL DE PAGO */
/* MODAL DE PAGO */














footer {
    background-color: #FFFFFF;
    height: 120px;
    display: flex;
    justify-content: center;
    
}

footer .logo h2{
    font-size: 14px;
}



